.header {
  background-color: blue;

  & > div {
    @apply flex items-center justify-between mx-auto;

    height: 56px;
    max-width: var(--max-app-width);
  }
}

.logoLink {
  @apply flex items-center;

  h3 {
    font-size: 48px;
    color: forestgreen;
    font-weight: 700;
  }
}

