.header {
  @apply shadow-md;

  background-color: #20005d;

  & > div {
    @apply flex items-center justify-between mx-auto px-12;

    height: 56px;
  }
}

.logoLink {
  @apply flex items-center;

  h3 {
    font-size: 48px;
    color: forestgreen;
    font-weight: 700;
  }
}

